<table class="table">
	<tr>
		<th>Date</th>
		<th>Rating</th>
	</tr>
	<% @statuses.each do |status| %>
	<tr>
		<td><%= status.date %></td>
		<td><%= status.rating %></td>
	</tr>
	<% end %>
</table>

<a href=<%= new_status_path %>>Rate a day</a>